.stuff-container#content
  section.stuff-item#item-1
    .stuff-item__head
      .stuff-item__arrow-left
      .stuff-item__arrow-right
      .stuff-item__top
        .stuff-item__title Buddha's Sativa
        .stuff-item__subtitle autoflower, feminised
      .stuff-item__bottom
        .stuff-item__bullets


    .chart

      .chart__wrapper
        .chart__single
          svg.chart__doughnut.indica(viewBox="0 0 36 36")
            path.chart__bg(d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            path.chart__circle(stroke-dasharray="65, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            text.chart__percents(x="18" y="20.05") 65%

        .chart__single
          svg.chart__doughnut.sativa(viewBox="0 0 36 36")
            path.chart__bg(d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            path.chart__circle(stroke-dasharray="28, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            text.chart__percents(x="18" y="20.05") 28%

        .chart__single
          svg.chart__doughnut.ruderalis(viewBox="0 0 36 36")
            path.chart__bg(d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            path.chart__circle(stroke-dasharray="7, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            text.chart__percents(x="18" y="20.05") 7%
      //-   <svg viewBox="0 0 36 36" class="chart indica">
      //-     <path class="circle-bg"
      //-       d="M18 2.0845
      //-         a 15.9155 15.9155 0 0 1 0 31.831
      //-         a 15.9155 15.9155 0 0 1 0 -31.831"
      //-     />
      //-     <path class="chart-bg"
      //-       stroke-dasharray="30, 100"
      //-       d="M18 2.0845
      //-         a 15.9155 15.9155 0 0 1 0 31.831
      //-         a 15.9155 15.9155 0 0 1 0 -31.831"
      //-     />
      //-     <text x="18" y="20.35" class="chart-percents">30%</text>
      //-   </svg>

      //- .stuff-item__circle
      //-   <svg viewBox="0 0 36 36" class="chart sativa">
      //-     <path class="circle-bg"
      //-       d="M18 2.0845
      //-         a 15.9155 15.9155 0 0 1 0 31.831
      //-         a 15.9155 15.9155 0 0 1 0 -31.831"
      //-     />
      //-     <path class="chart-bg"
      //-       stroke-dasharray="30, 100"
      //-       d="M18 2.0845
      //-         a 15.9155 15.9155 0 0 1 0 31.831
      //-         a 15.9155 15.9155 0 0 1 0 -31.831"
      //-     />
      //-     <text x="18" y="20.35" class="chart-percents">30%</text>
      //-   </svg>

      //- .stuff-item__circle
      //-   <svg viewBox="0 0 36 36" class="chart ruderalis">
      //-     <path class="circle-bg"
      //-       d="M18 2.0845
      //-         a 15.9155 15.9155 0 0 1 0 31.831
      //-         a 15.9155 15.9155 0 0 1 0 -31.831"
      //-     />
      //-     <path class="chart-bg"
      //-       stroke-dasharray="30, 100"
      //-       d="M18 2.0845
      //-         a 15.9155 15.9155 0 0 1 0 31.831
      //-         a 15.9155 15.9155 0 0 1 0 -31.831"
      //-     />
      //-     <text x="18" y="20.35" class="chart-percents">30%</text>
      //-   </svg>

    .stuff-item__grow-info
    .stuff-item__additional-info
      |Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique veniam repudiandae dolore aperiam aliquid, minima sint eveniet. Ipsam in non eaque praesentium architecto nam blanditiis sed nihil. Modi, nostrum non?
    .stuff-item__trip-reports
    .stuff-item__grow-recommendations
    .stuff-item__delivery-payment

  section.stuff-item#item-2
    |Lorem, ipsum dolor sit amet consectetur  adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!

  section.stuff-item#item-3
    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!

  section.stuff-item#item-4
    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!

  section.stuff-item#item-5
    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!

  section.stuff-item#item-6
    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod optio molestias ipsam ducimus laboriosam omnis ex ab qui voluptatum modi. Necessitatibus quia, accusantium iure ullam doloribus minima quidem minus labore!
