.first-screen
  nav.header-links#top
    a(href="/clones.nyc").header-links__link Catalog
    a(href="/blog").header-links__link Blog
    a(href="/forum").header-links__link Forum
    a(href="/about").header-links__link Abous Us
  h1.main-title
    p Buy Cannabis Clones
    p in NYC and NJ


  .main-slider-wrapper
    .swiper-button-prev
    .swiper-button-next
    .swiper.mySwiper
      .swiper-wrapper
        .swiper-slide
          img(src="@img/swiper/swiper_01.jpg")
        .swiper-slide
          img(src="@img/swiper/swiper_02.jpg")
        .swiper-slide
          img(src="@img/swiper/swiper_03.jpg")
        .swiper-slide
          img(src="@img/swiper/swiper_04.jpg")
        .swiper-slide
          img(src="@img/swiper/swiper_05.jpg")
    .swiper-pagination


  
  a(href="#content").main-cta Explore Our Stuff