.first-screen
  nav.header-links#top
    a(href="/clones.nyc").header-links__link Catalog
    a(href="/blog").header-links__link Blog
    a(href="/forum").header-links__link Forum
    a(href="/about").header-links__link Abous Us
  h1.main-title
    p Buy Cannabis Clones
    p in NYC and NJ

  .swiper-container
    .swiper-wrapper
      .swiper-slide
      .swiper-slide
      .swiper-slide
    .swiper-button-prev
    .swiper-button-next
    .swiper-pagination
  
  a(href="#content").main-cta Explore Our Stuff