  section.product-item#item-1
    .product-item__head
      .product-item__arrow-left
      .product-item__arrow-right
      .product-item__top
        .product-item__title Buddha's Sativa
        .product-item__subtitle autoflower, feminised
      .product-item__bottom
        .product-item__bullets


    .chart

      .chart__wrapper
        .chart__single
          svg.chart__doughnut.indica(viewBox="0 0 36 36")
            path.chart__bg(d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            path.chart__circle(stroke-dasharray="65, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            text.chart__percents(x="18" y="20.05") 65%

        .chart__single
          svg.chart__doughnut.sativa(viewBox="0 0 36 36")
            path.chart__bg(d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            path.chart__circle(stroke-dasharray="28, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            text.chart__percents(x="18" y="20.05") 28%

        .chart__single
          svg.chart__doughnut.ruderalis(viewBox="0 0 36 36")
            path.chart__bg(d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            path.chart__circle(stroke-dasharray="7, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
            text.chart__percents(x="18" y="20.05") 7%

    .product-item__grow-info
    .product-item__additional-info
      |Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique veniam repudiandae dolore aperiam aliquid, minima sint eveniet. Ipsam in non eaque praesentium architecto nam blanditiis sed nihil. Modi, nostrum non?
    .product-item__trip-reports
    .product-item__grow-recommendations
    .product-item__delivery-payment

