.sidebar-right
  .phones
    .phones__icons
      .phones__icon
        img(src="@img/social-icon/cellular.svg", alt="Phone")
      .phones__icon
        img(src="@img/social-icon/viber.svg", alt="Viber")
      .phones__icon
        img(src="@img/social-icon/whatsapp.svg", alt="WhatsApp")
    .phones__text +1 (212) 729-4847

  .right-middle

    .right-middle__item
      .right-middle__icon
        img(src="@img/social-icon/mail.svg", alt="E-mail")
      a(href="mailto:big@clones.nyc" alt="big@clones.nyc").right-middle__text
        |big@clones.nyc

    .right-middle__item
      .right-middle__icon
        img(src="@img/social-icon/telegram.svg", alt="Telegram")
      a(href="http://telegram.com/colnes_nyc" alt="Telegram").right-middle__text
        |@clones_nyc

    .right-middle__item
      .right-middle__icon
        img(src="@img/social-icon/facebook.svg", alt="facebook")
      a(href="http://facebook.com/colnes_nyc" alt="facebook").right-middle__text
        |/clones.nyc

    .right-middle__item
      .right-middle__icon
        img(src="@img/social-icon/instagram.svg", alt="Instagram")
      a(href="http://instagram.com/colnes_nyc" alt="Instagram").right-middle__text
        |clones_nyc

    .right-middle__item
      .right-middle__icon
        img(src="@img/social-icon/youtube.svg", alt="YouTube")
      a(href="http://youtube.com/colnes_nyc" alt="YouTube").right-middle__text
        |clones_nyc

    .right-middle__item
      .right-middle__icon
        img(src="@img/social-icon/twitter.svg", alt="Twitter")
      a(href="http://twitter.com/" alt="Twitter").right-middle__text
        |@clones_nyc

  .live-chat
    .live-chat__icon
      img(src="@img/social-icon/live-chat.svg", alt="live chat with us")
    .live-chat__smile :)
    .live-chat__text live chat with us