.sidebar-left

  a(href="#top").logo
    .logo-block__icon
      img(src="@img/logo.svg")
    .logo-block__text
      span.logo-block__line-1 clones.nyc
      span.logo-block__line-2 weed sprouts

  .left-middle#left-middle
    a.left-middle__item(href="#product-1")
      img.left-middle__icon(src="@img/item-icon/item-1.jpg")
      span.left-middle__text Train Wreck
    a.left-middle__item(href="#product-2")
      img.left-middle__icon(src="@img/item-icon/item-2.jpg")
      span.left-middle__text Bubblelicious
    a.left-middle__item(href="#product-3")
      img.left-middle__icon(src="@img/item-icon/item-3.jpg")
      span.left-middle__text Cheese
    a.left-middle__item(href="#product-4")
      img.left-middle__icon(src="@img/item-icon/item-4.jpg")
      span.left-middle__text Buddha's Sativa
    a.left-middle__item(href="#product-5")
      img.left-middle__icon(src="@img/item-icon/item-5.jpg")
      span.left-middle__text Chemdog
    a.left-middle__item(href="#product-6")
      img.left-middle__icon(src="@img/item-icon/item-6.jpg")
      span.left-middle__text Freddy's Best
    a.left-middle__item(href="#product-7")
      img.left-middle__icon(src="@img/item-icon/item-7.jpg")
      span.left-middle__text Gelato
    a.left-middle__item(href="#product-8")
      img.left-middle__icon(src="@img/item-icon/item-8.jpg")
      span.left-middle__text Haze

    a.left-middle__item(href="#product-9")
      img.left-middle__icon(src="@img/item-icon/item-8.jpg")
      span.left-middle__text Haze
    a.left-middle__item(href="#product-10")
      img.left-middle__icon(src="@img/item-icon/item-8.jpg")
      span.left-middle__text Haze
    a.left-middle__item(href="#product-11")
      img.left-middle__icon(src="@img/item-icon/item-8.jpg")
      span.left-middle__text Haze
    a.left-middle__item(href="#product-12")
      img.left-middle__icon(src="@img/item-icon/item-8.jpg")
      span.left-middle__text Haze

  .left-middle__formula
    img.left-middle__formula-image(src="@img/formula.svg")