doctype html
html
  head
    title Buy Cannabis Clones in NYC and NJ
    link(rel = 'stylesheet' href='css/style.min.css')
  body
    .page
      .bg
      include html/sidebar-left
      include html/sidebar-right
      .page-content#center
        include html/first-screen
        include html/products
        include html/footer
script(src='js/app.min.js')