@import "product";

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 520px;
  overflow: visible;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(23, 29, 33, 1);
  border-radius: 0.5rem;
  max-width: 32.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 36px #000;

  &__wrapper {
    padding-top: 0.8rem;
    position: relative;
  }

  &__arrow-left,
  &__arrow-right {
    display: flex;
    position: absolute;
    top: 160px;
    height: 64px;
    width: 64px;
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

  &__arrow-left {
    justify-content: left;
    left: -48px;
    &:hover {
      opacity: 1;
      left: -56px;
    }
  }

  &__arrow-right {
    justify-content: right;
    right: -48px;
    &:hover {
      opacity: 1;
      right: -56px;
    }
  }

  &__head {
    display: flex;
    position: relative;
    width: 520px;
    height: 360px;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    width: 520px;
    height: 360px;

    img {
      width: 520px;
      height: 360px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.05);
        rotate: -2deg;
      }
    }
  }

  &__chart {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 1.5rem 0 1.5rem;

    &-single {
      width: 33%;
      justify-content: space-around;
    }

    &-bg {
      fill: none;
      stroke: rgba(255, 255, 255, 0.05);
      stroke-width: 2.2;
    }

    &-circle {
      fill: none;
      stroke-width: 3.25;
      stroke-linecap: round;
      .animate-doughnut {
        animation: doughnut_grow 1s ease-in forwards !important;
      }
    }

    &-doughnut-indica {
      display: block;
      margin: 1.5rem 1.5rem;
      stroke: #9dff99;
    }

    &-doughnut-sativa {
      display: block;
      margin: 1.5rem 1.5rem;
      stroke: #ffe793;
    }

    &-doughnut-ruderalis {
      display: block;
      margin: 1.5rem 1.5rem;
      stroke: #ff9797;
    }

    &-percents {
      fill: rgb(255, 255, 255);
      font-weight: 700;
      font-size: 0.33rem;
      text-anchor: middle;
      stroke-width: 0;
    }
  }
}

@keyframes doughnut_grow {
  0% {
    stroke-dasharray: 0 100;
  }
  // 100% {
  //   stroke-dasharray: 100 100;
  // }
}

.animate-doughnut {
  animation: doughnut_grow 0.5s ease-in forwards;
}
