@import "product";

.products-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 520px;
  overflow: visible;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(23, 29, 33, 1);
  border-radius: 0.5rem;
  max-width: 32.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 36px #000;
  padding-bottom: 1.5rem;

  &__wrapper {
    padding-top: 0.8rem;
    position: relative;
  }

  &__arrow-left,
  &__arrow-right {
    display: flex;
    position: absolute;
    top: 160px;
    height: 64px;
    width: 64px;
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &.swiper-button-disabled {
      display: none !important;
    }
  }

  &__arrow-left {
    justify-content: left;
    left: -48px;
    &:hover {
      opacity: 1;
      left: -56px;
    }
  }

  &__arrow-right {
    justify-content: right;
    right: -48px;
    &:hover {
      opacity: 1;
      right: -56px;
    }
  }

  &__head {
    display: flex;
    position: relative;
    width: 520px;
    height: 360px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    padding: 1.2rem;
    pointer-events: none;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 99%
    );
  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.18rem;
    padding-bottom: 0.25rem;
  }

  &__tags {
    display: flex;
  }

  &__tag {
    font-weight: 400;
    opacity: 0.8;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    padding: 0 0.3rem 0 0;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    width: 520px;
    height: 360px;

    // img {
    //   width: 520px;
    //   height: 360px;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   transition: all 0.2s ease-in-out;
    //   &:hover {
    //     transform: scale(1.05);
    //     rotate: -2deg;
    //   }
    // }
  }

  &__bottom {
    display: flex;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    // pointer-events: none;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.21) 45%,
      rgba(0, 0, 0, 0.6) 100%
    );
    .product-item__bullets {
      display: flex;
      align-items: flex-end;
      margin: 0 auto 1rem auto;
    }
  }

  &__chart {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    margin-top: -0.8rem;

    &-single {
      width: 33%;
      justify-content: space-around;
    }

    &-bg {
      fill: none;
      stroke: rgba(255, 255, 255, 0.05);
      stroke-width: 2.2;
    }

    &-circle {
      fill: none;
      stroke-width: 3.25;
      stroke-linecap: round;
      .animate-doughnut {
        animation: doughnut_grow 1s ease-in forwards !important;
      }
    }

    &-doughnut-indica {
      display: block;
      margin: 1.5rem 1.5rem;
      stroke: #9dff99;
    }

    &-doughnut-sativa {
      display: block;
      margin: 1.5rem 1.5rem;
      stroke: #ffe793;
    }

    &-doughnut-ruderalis {
      display: block;
      margin: 1.5rem 1.5rem;
      stroke: #ff9797;
    }

    &-percents {
      fill: rgb(255, 255, 255);
      font-weight: 700;
      font-size: 0.33rem;
      text-anchor: middle;
      stroke-width: 0;
    }
    &-lables {
      display: flex;
      justify-content: space-around;
      margin-top: -0.4rem;
      padding-bottom: 1rem;
      font-weight: 400;
      letter-spacing: 0.03rem;
    }
    &-lable {
      display: flex;
      justify-content: center;
      width: 33%;
    }
  }

  &__additional-info,
  &__trip-reports,
  &__grow-recommendations,
  &__delivery-payment {
    line-height: 1.6rem;
    text-align: justify;
    text-justify: inter-word;
  }
}

.accordion {
  position: relative;
  &__container {
    &::after {
      content: "";
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      width: 1rem;
      height: 1rem;
      margin: 1.5rem;
      background: url("../img/item-header-plus.svg") 50% 50% no-repeat;
      pointer-events: none;
    }
  }
  &__container.active {
    &::after {
      background: url("../img/item-header-minus.svg") 50% 50% no-repeat;
    }
  }
  &__header {
    cursor: pointer;
    position: relative;
    // overflow: hidden;
    height: 4rem;
    font-family: Lato;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #ffffff;
    letter-spacing: 0.2rem;
    line-height: 4rem;
    padding-left: 1.5rem;

    &-icon {
      position: absolute;
      right: 0;
      top: 0;
      width: 1rem;
      height: 1rem;
      margin: 1.5rem;
      background: url("../img/item-header-plus.svg") 50% 50% no-repeat;
      pointer-events: none;
      & active {
        background: url("../img/item-header-minus.svg") 50% 50% no-repeat;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: flex;
      width: 0.3rem;
      height: 2rem;
      left: 0;
      top: 1rem;
      background-color: #fff;
    }
  }
  &__content {
    padding: 0 1.5rem;
  }
}

.accordion .accordion__container .accordion__content {
  width: 100%;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
}

.accordion .accordion__container.active .accordion__content {
  opacity: 1;
  height: auto;
  max-height: 500px;
  margin-bottom: 0.5rem;
}

.product-item__grow-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px dotted rgba(255, 255, 255, 0);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease-out;
  &:last-child {
    border-bottom: 1px dotted rgba(255, 255, 255, 0);
  }
  &:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin-left: -0.25rem;
    padding-left: 0.25rem;
    margin-right: -0.25rem;
    padding-right: 0.25rem;
  }
}

.product-item__grow-prop {
  width: 40%;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.product-item__grow-value {
  // text-transform: capitalize;
  display: flex;
  flex-direction: row;
  width: 60%;
  line-height: 3rem;
}

@keyframes doughnut_grow {
  0% {
    stroke-dasharray: 0 100;
  }
  // 100% {
  //   stroke-dasharray: 100 100;
  // }
}

.animate-doughnut {
  animation: doughnut_grow 0.5s ease-in forwards;
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  // z-index: 100;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
