.sidebar-left {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 15rem;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.logo {
  margin: 1.5rem 0 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  color: #fff;
  display: flex;
  color: #fff;
  &:hover .logo-block__icon {
    transform: scale(1.2);
  }
  &:hover .logo-block__text {
    transform: translateX(0.25rem);
  }
}

.logo-block__icon {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  img {
    width: 1.375rem;
    height: 1.375rem;
  }
}

.logo-block__text {
  padding-left: 0.875rem;
  display: flex;
  flex-direction: column;
  transition: all 0.15s ease-in-out;
}

.logo-block__line-1 {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.04rem;
  line-height: 1rem;
}

.logo-block__line-2 {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.019rem;
  line-height: 0.875rem;
  opacity: 0.75;
}

.left-middle {
  height: 25rem;
  overflow: scroll;

  scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0);
  scrollbar-width: thin;

  mask-image: url("../img/items-mask.svg");
  mask-position: 0 0;
  mask-repeat: repeat-x;

  -webkit-mask-image: url("../img/items-mask.svg");
  -webkit-mask-position: 0 0;
  -webkit-mask-repeat: repeat-x;
}

.left-middle__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 1rem 1.5rem;
  color: #fff;
  &:first-child {
    margin-top: 3.25rem;
  }
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 3.25rem;
  }
  &:hover .left-middle__icon {
    transform: scale(1.1);
  }
  &:hover .left-middle__text {
    transform: translateX(0.25rem);
  }
  .left-middle__icon {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
  }
  .left-middle__text {
    padding-left: 0.75rem;
    transition: all 0.1s ease-in-out;
  }
  &.active {
    margin-left: -0.25rem;
    & span {
      font-weight: 900;
    }
    &::before {
      content: "";
      background-color: #fff;
      width: 0.25rem;
      height: 2rem;
      position: relative;
      left: -1.25rem;
      transition: all 0.15s ease-in-out;
    }
  }
}

.opacity {
  opacity: 0.2;
  transition: all 0.1s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.left-middle__formula {
  padding: 0 0 1.5rem 1.5rem;
}
